{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "node": true
  },
  "globals": {
    "__DEV__": false
  },
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "no-param-reassign": 0
  }
}
